/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}



.le-obj-del {
  position: relative;
  top: 0;
  right: 0;
}

.page {
  min-height: 200px;
  overflow:scroll;
}

.search-block {
  position: fixed;
  top: 50px;
  height: 50px;
  min-width: 25%;
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 13px;
  background-color: #222;
  z-index: 1000;
}

.le-object {
  position: block;
  width: 95%;
  height: 97%;
}


.slot {
  width: 965px;
  height: 500px;
}

.draggable {
  position: static;
  height: 109.4px;
  width: 285px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
 .common {
    height: 100%;
    width: 100%;
 }

/* Hide for mobile, show later */
.sidebar {
  position: fixed;
  top: 101px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-y:auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  padding-left: 30px;
  padding-right: 30px;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

